services:
  nginx:
      image: nginx:1.19
      volumes:
          - ./:/www/awardwallet
          - ./docker/dev/nginx/nginx.conf:/etc/nginx/conf.d/default.conf.template
          - ./docker/dev/nginx/entrypoint.sh:/root/nginx-dev-entrypoint.sh
          - ./docker/dev/nginx/fastcgi-symfony.conf:/etc/nginx/fastcgi-symfony.conf
      command: ["/root/nginx-dev-entrypoint.sh"]
      environment:
          - VIRTUAL_PORT=80
          - VIRTUAL_HOST=parserbox-web.awardwallet.docker
          - HTTPS_METHOD=noredirect
          - HSTS_MAX_AGE=1
      depends_on:
        - php
        - centrifugo
      ports:
        - '${LOCAL_PORT:-38401}:80'
  php:
      image: docker.awardwallet.com/php/loyalty-php7.4-debug-multiarch-amd64-v10
      volumes:
          - ./:/www/awardwallet:cached
          - ./logs:/var/log/www/awardwallet:cached
          - ./docker/home:/home/user
      environment:
          - LOCAL_USER_ID
      user: "${LOCAL_USER_ID}:4" # adm group
      hostname: parserbox-web
      working_dir: /www/awardwallet
      extra_hosts:
        - "host.docker.internal:host-gateway"
  mysql:
      image: mysql:8.0.32
      environment:
          - MYSQL_ALLOW_EMPTY_PASSWORD=1
          - MYSQL_USER=awardwallet
          - MYSQL_PASSWORD=awardwallet
          - MYSQL_DATABASE=awardwallet
      volumes:
          - ./docker/dev/mysql.cnf:/etc/mysql/conf.d/mysql.cnf
          - mysql-data:/var/lib/mysql
      depends_on:
          - mysql-data
  mysql-data:
      image: docker.awardwallet.com/mysql-data/parserbox-web
      volumes:
        - mysql-data:/var/lib/mysql
  mongo:
    image: docker.awardwallet.com/service/mongo
    volumes:
      - mongo-data:/data/db
  memcached:
      image: memcached
      entrypoint: ["memcached", "-m", "64"]
  git-hooks-installer-engine:
      image: docker.awardwallet.com/service/git-hooks-installer-multiarch
      volumes:
          - ./src/engine/.git:/git
          - ./src/engine/.git-hooks:/hooks
  centrifugo:
    # build it to add EXPOSE 80, otherwise dinghy http proxy will not work
    build: docker/centrifugo
    environment:
      - VIRTUAL_PORT=80
      - VIRTUAL_HOST=centrifugo.parserbox-web.awardwallet.docker
      - HTTPS_METHOD=noredirect
      - HSTS_MAX_AGE=1
    volumes:
      - ./docker/centrifugo/config.json:/centrifugo/config.json
    command: centrifugo -c config.json
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    networks:
      default:
        aliases:
          - centrifugo.parserbox-web.awardwallet.docker
  rabbitmq:
    image: rabbitmq:3.12-management
    environment:
      - VIRTUAL_PORT=15672
      - VIRTUAL_HOST=rabbit.parserbox-web.awardwallet.docker
      - HTTPS_METHOD=noredirect
      - HSTS_MAX_AGE=1

volumes:
  mongo-data: {}
  mysql-data:

