parameters:
  google_api_key: 'xxx'
  positionstack_api_key: 'xxx'
  timezonedb_endpoint: 'http://api.timezonedb.com'
  timezonedb_apikey: ''
  flight_info.app_id: xxx
  flight_info.app_key: xxx
  flight_stats_restricted_partners: []
  disable_flight_stats: true
  # ------------ parsing related ---------------
  parsing_constants:
    # luminati
    illuminati_customer: ~
    illuminati_zone: ~
    illuminati_pass: ~
    # captcha
    antigate_key:  ~
    rucaptcha_key: ~
    antigate_proxy_password: ~
    aa_proxy: host.docker.internal
    # netnut
    netnut_username: ~
    netnut_password: ~
    # oxylabs
    oxylabs_username: ~
    oxylabs_password: ~
    # goproxies
    goproxies_username: ~
    goproxies_password: ~
    goproxies_username_delta: ~
    goproxies_password_delta: ~
    goproxies_username_mileageplus: ~
    goproxies_password_mileageplus: ~
    goproxies_username_aeroplan: ~
    goproxies_password_aeroplan: ~
    goproxies_username_aviancataca: ~
    goproxies_password_aviancataca: ~
    goproxies_username_virgin: ~
    goproxies_password_virgin: ~
    goproxies_username_iberia: ~
    goproxies_password_iberia: ~
    goproxies_username_british: ~
    goproxies_password_british: ~
    goproxies_username_alaskaair: ~
    goproxies_password_alaskaair: ~
    goproxies_username_qantas: ~
    goproxies_password_qantas: ~
    goproxies_username_jetblue: ~
    goproxies_password_jetblue: ~
    goproxies_username_rapidrewards : ~
    goproxies_password_rapidrewards : ~
    goproxies_username_turkish: ~
    goproxies_password_turkish: ~
    goproxies_username_etihad: ~
    goproxies_password_etihad: ~
    goproxies_username_asia: ~
    goproxies_password_asia: ~
    goproxies_username_hawaiian: ~
    goproxies_password_hawaiian: ~
    goproxies_username_tapportugal: ~
    goproxies_password_tapportugal: ~
    goproxies_username_asiana: ~
    goproxies_password_asiana: ~
    goproxies_username_korean: ~
    goproxies_password_korean: ~
    goproxies_username_velocity: ~
    goproxies_password_velocity: ~
    goproxies_username_aeromexico: ~
    goproxies_password_aeromexico: ~
    goproxies_username_eurobonus: ~
    goproxies_password_eurobonus: ~
    goproxies_username_israel: ~
    goproxies_password_israel: ~

   # mount
    mount_apikey: ~
    mount_username: ~
    mount_password: ~
    # geosurf
    geosurf_id: 633314
    geosurf_password: ~
    # aa
    aa_wsdl_login: 'xxx'
    aa_wsdl_password: 'xxx'
    aa_wsdl_authorization_password: 'xxx'
    # capital one
    capitalcards_client_id: ~
    capitalcards_sandbox_client_id: ~
    capitalcards_client_secret: ~
    capitalcards_sandbox_client_secret: ~
    # bank of america
    bankofamerica_client_id: 'xxx'
    bankofamerica_client_secret: 'xxx'
    bankofamerica_ssl_cert_file: '/www/awardwallet/app/config/awardwalletPremiumSslEv.pem'
    mailslurp_api_key: xxxx
  bing_maps_api_key: 'xxx'
  selenium_memcached_host: 'memcached'
  shared_memcached_host: 'memcached'
  memcached_host: 'memcached'
  #AirLabs
  airlabs_api_key: xxx
  webdriver_cluster_endpoint: 'http://webdriver.infra.awardwallet.com'
  selenium_share: /tmp
  selenium_consul_address: null
  geoapify_api_key: xxxx
  lpm_host: lpm
  rucaptcha_api_key: xxxx
  goproxies_username: 'goproxies-username-change-me'
  goproxies_password: 'goproxies-password-change-me'
  goproxies_root_username: ''
  goproxies_root_password: ''
  netnut_username: 'netnut-username-change-me'
  netnut_password: 'netnut-password-change-me'
  mount_username: 'mount-username-change-me'
  mount_password: 'mount-password-change-me'
