{% form_theme form with ['@AwardWalletMain/FormTheme/fields.html.twig'] %}
<form name="register-form" class="main-form" method="post" {{ form_enctype(form) }} autocomplete="off">
    {{ form_widget(form, {'noSubmit' : true}) }}
</form>